.carousel-container {
    width: 100%;
    margin: auto
  }
  
  .video-wrapper {
    position: relative;
  }
  
  .play-button {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  @media (max-width: 640px) {
    .play-button {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  .play-button:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .play-button svg {
    font-size: 1.5rem;
  }
  